*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --dongker: #001524;
    --hijau: #445D48;
    --cream: #D6CC99;
    --pink: #f5d7c1;
}

.intro {
    width: 100%;
    height: 100vh;
    background-color: var(--hijau);
    color: var(--cream);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.intro .acsen {
    width: 300px;
    height: 300px;
    background-color: var(--dongker);
    position: absolute;
    border-radius: 100%;
}

.intro .acsen.left {
    top: -50px;
    left: -50px;
}

.intro .acsen.right {
    top: -50px;
    right: -50px;
}

.intro .say-hello h1 {
    font-size: 5rem;
    font-weight: 900;
}

.intro .say-hello p {
    color: var(--dongker);
    font-size: 2rem;
    font-weight: 700;
}

.main {
    width: 100%;
    height: 700px;
    background-color: var(--cream);
    color: #001524;
}

.main .myabout {
    width: 700px;
    display: block;
    margin: auto;
}

.main .myabout h1 {
    text-align: center;
    padding: 16px 0;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--dongker);
}

.main .myabout p {
    text-align: center;
    color: var(--dongker);
    padding: 16px 8px;
    font-weight: bolder;
}

.main .card-container {
    border-radius: 20px;
    width: 95%;
    height: 430px;
    background-color: var(--hijau);
    margin: 8px auto;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
    box-shadow: 5px 5px 15px var(--dongker);
}

.main .card-container .card {
    width: 550px;
    height: 350px;
    background-color: var(--dongker);
    border-radius: 25px;
    overflow: hidden;
}

.main .card-container .card img {
    width: 95%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin: 18px auto;
    display: block;
    border-radius: 15px;
}


.main .card-container .card h3 {
    color: var(--pink);
    text-align: center;
    margin: 8px auto;
}

.main .card-container .card button {
    padding: 8px 10px;
    display: block;
    margin: 8px auto;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
    color: var(--pink);
    background-color: var(--hijau);
    cursor: pointer;
}

.main .card-container .card button:hover {
    background-color: var(--dongker);
    border: 1px solid var(--hijau);
}

footer {
    background-color: var(--dongker);
    color: var(--pink);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}

footer .f-head h1 {
    font-size: 2rem;
    cursor: pointer;
}

footer .f-head h1:hover {
    color: var(--hijau);
}

footer .f-nav ul li a {
    color: var(--pink);
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

footer .f-nav ul li a:hover {
    color: var(--hijau);
    text-decoration: none;
    border-bottom: 2px solid var(--pink);

}